progress {
    width: 100%;
}
li.ui-field-contain {
    border-bottom: 1px solid #ddd;
}
.error {
    color: red;
    text-align: center;
}
td, th {
    text-align: center;
}
.logged-in .logout-shown, .logged-out .login-shown {
    display: none;
}
.package {
  padding: 0.5em;
  border: 1px solid #ddd;
}
.package iframe {
  float: right;
}
