<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body{{>login_class}}>
    <div data-role="page" data-url="/datarequests/{{id}}/ids">
      <div data-role="header">
        <a href="/" data-icon="home" data-iconpos="notext">Home</a>
        <h3>{{webservice_label}}</h3>
      </div>
      <div data-role="content">
        <p>{{label}}</p>
        <form action="/datarequests/{{id}}/updateids" method="post" data-json="false">
        {{>csrf}}
        {{#result.unknown_count}}
        <h3>Ambiguous Identifiers</h3>
        <p>
          The data contains {{result.unknown_count}} site or parameter code(s)
          that aren't recognized by this database.  These codes might
          correspond to existing sites and parameters, or they might be new (to
          this database).  Use the options below to match the codes to existing
          codes already in the database, if any.  When you are done, click Save
          Changes and then click continue after the changes are saved.
        </p>
        <input type="hidden" name="unknown_count"
           value="{{result.unknown_count}}">

        {{/result.unknown_count}}
        <table>
          {{#result.types}}
          <tr><td colspan=3><h2>{{type_label}}</h2></td></tr>
          <tr>
            <th>Code</th>
            <th># Records</th>
            <th>Resolution</th>
          </tr>
          {{#ids}}
          <tr>
            <th>
              <abbr title="{{#meta}}{{name}}: {{value}}
{{/meta}}">{{value}}</abbr>
              <input type="hidden" name="ident_{{ident_id}}_type"
                 value="{{type_id}}">
              <input type="hidden" name="ident_{{ident_id}}_value" 
                 value="{{value}}">
              {{#meta}}
              <input type="hidden" name="ident_{{ident_id}}_{{name}}"
                value="{{value}}">
              {{/meta}}
            </th>
            <td>{{count}}</td>
            <td>
              {{#unknown}}
              <select name="ident_{{ident_id}}_id">
                {{#choices}}
                <option value="{{id}}">{{label}}</option>
                {{/choices}}
              </select>
              {{/unknown}}
              {{^unknown}}
              {{match}}
              {{/unknown}}
            </td>
          </tr>
          {{/ids}}
          {{/result.types}}
        </table>
        {{#result.unknown_count}}
        <button type="submit">Save Changes</button>
        {{/result.unknown_count}}
        </form>

        {{^result.unknown_count}}
        <form action="/datarequests/{{id}}/auto" method="post">
          {{>csrf}}
          <button type="submit">Continue</button>
        </form>
        {{/result.unknown_count}}
      </div>
    </div>
  </body>
</html>
