<!DOCTYPE html>
<html>
  {{>head}}
  <body{{>login_class}}>
    <div data-role="page">
      <div data-role="header">
        <a href="/" data-icon="home" data-iconpos="notext">Home</a>
        <h3>Data Requests</h3>
        <a href="/webservices" data-icon="add" data-iconpos="right" class="login-shown">New Request</a>
      </div>
      <div data-role="content">
        {{#is_authenticated}}
        <p class="login-shown">Data Requests for {{user.username}}</p>
        {{/is_authenticated}}
        <ul data-role="listview">
          {{#list}}
          <li>
            <a href="/datarequests/{{id}}">
              <p class="ui-li-aside">{{requested_label}}</p>
              <h3>{{label}}</h3>
            </a>
          </li>
          {{/list}}
          {{^list}}
          <li data-icon="add" data-iconpos="right" class="login-shown">
            <a href="/webservices">New Request</a>
          </li>
          {{/list}}
        </ul>
      </div>
    </div>
  </body>
</html>
