<!DOCTYPE html>
<html>
  {{>head}}
  <body{{>login_class}}>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h3>Data Requests</h3>
      </div>
      <div data-role="content">
        <ul data-role="listview" data-filter="true" data-count-theme="b">
          {{#list}}
          {{^deleted}}
          <li>
            <a href="/datarequests/{{id}}">
              <p class="ui-li-aside">{{requested_label}}</p>
              {{#is_authenticated}}{{#public}}
              <span class="ui-li-count">Shared</span>
              {{/public}}{{/is_authenticated}}
              <h3>{{webservice_label}}</h3>
              <p>{{label}}</p>
            </a>
          </li>
          {{/deleted}}
          {{/list}}
          {{^list}}
          <li data-icon="add" data-iconpos="right" class="login-shown">
            <a href="/webservices">New Request</a>
          </li>
          {{/list}}
        </ul>
      </div>
    </div>
  </body>
</html>
