<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body{{>login_class}}>
    <div data-role="page">
      <div data-role="header">
        <a href="/" data-icon="home" data-iconpos="notext">Home</a>
        <h3>{{label}}</h3>
      </div>
      <div data-role="content">
        <table>
           <tr><th>Web Service</th><td>{{webservice_label}}</td></tr>
           <tr><th>Requested On</th><td>{{requested_label}}</td></tr>
           {{#completed}}
           <tr><th>Completed On</th><td>{{completed_label}}</td></tr>
           {{/completed}}
           <tr><th>Data Range</th><td>{{start_date}} to {{end_date}}</td></tr>
           {{#inverserelationships}}
           <tr>
             <th>{{type_label}}</th>
             <td>{{item_label}}</td>
           </tr>
           {{/inverserelationships}}
        </table>

        {{#completed}}
        {{>download}}
        {{/completed}}
        <form action="/datarequests/{{id}}/auto" method="post" data-json="false">
          {{>csrf}}
          <button type="submit">{{#completed}}Re-{{/completed}}Load Data</button>
        </form>
        {{#completed}}
        <svg></svg>
        {{/completed}}
      </div>
    </div>
  </body>
</html>
