<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body{{>login_class}}>
    <div data-role="page">
      <div data-role="header">
        <a href="/" data-icon="home" data-iconpos="notext">Home</a>
        <h3>{{webservice_label}}</h3>
      </div>
      <div data-role="content">
        <h3>Loading {{label}}...</h3>
        <progress data-url="/datarequests/{{id}}/status.json?task={{task_id}}">
          Loading...
        </progress>
        <p class="message"></p>
        <div style="display:none" class="complete">
          {{>download}}
          <p>
            Display result publicly on home page?
            <br>
            {{>toggle}}
          </p>
          {{>links}}
          <a data-role="button" href="/">Back to Home</a>
        </div>
        <div style="display:none" class="retry">
          <form action="/datarequests/{{id}}/auto" method="post" data-json="false">
            {{>csrf}}
            <button type="submit">Try Again</button>
            {{>links}}
          </form>
        </div>
        <svg style="display:none"></svg>
        <div style="display:none" class="map"></div>
      </div>
    </div>
  </body>
</html>
