<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        <a href="/" data-icon="home" data-iconpos="notext">Home</a>
        <h3>{{label}}</h3>
      </div>
      <div data-role="content">
        <table>
           <tr><th>Web Service</th><td>{{webservice_label}}</td></tr>
           <tr><th>Requested On</th><td>{{requested_label}}</td></tr>
           {{#completed}}
           <tr><th>Completed On</th><td>{{completed_label}}</td></tr>
           {{/completed}}
           <tr><th>Data Range</th><td>{{start_date}} to {{end_date}}</td></tr>
           <tr><th>Filters</th><td><ul>
             {{#inverserelationships}}
             <li>{{item_label}}</li>
             {{/inverserelationships}}
           </ul></td></th></tr>
        </table>

        {{#completed}}
        {{>download}}
        {{/completed}}
        <form action="/datarequests/{{id}}/auto" method="post">
          {{>csrf}}
          <button type="submit">{{#completed}}Re-{{/completed}}Load Data</button>
        </form>
      </div>
    </div>
  </body>
</html>
