<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body{{>login_class}}>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h3>{{webservice_label}}</h3>
      </div>
      <div data-role="content">
        <h3>Loading {{label}}...</h3>
        <progress data-url="/datarequests/{{id}}/status.json?task={{task_id}}">
          Loading...
        </progress>
        <p class="message"></p>
        <div style="display:none" class="complete">
          {{>download}}
          {{>links}}
        </div>
        <div style="display:none" class="retry">
          <form action="/datarequests/{{id}}/auto" method="post" data-json="false">
            {{>csrf}}
            <button type="submit" data-theme="b">Try Again</button>
            {{>links}}
          </form>
        </div>
        <svg style="display:none"></svg>
        <div style="display:none" class="map"></div>
      </div>
    </div>
  </body>
</html>
