<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body{{>login_class}}>
    <div data-role="page" data-url="/datarequests/{{id}}/columns">
      <div data-role="header">
        {{>home}}
        <h3>{{webservice_label}}</h3>
      </div>
      <div data-role="content">
        <p>{{label}}</p>
        <form action="/datarequests/{{id}}/columns" method="post" data-json="false">
        {{>csrf}}
        {{#result.unknown_count}}
        <h3>Ambiguous Columns</h3>
        <p>
           The data contains {{result.unknown_count}} column heading(s) that
           are not recognized by this database.  Please contact us or file a
           ticket if you didn't expect to see this message.
        </p>
        {{/result.unknown_count}}
        <table>
          {{#result.columns}}
          <tr>
            <th>{{match}}</th>
            <td>
              {{#unknown}}
              <select name="rel_{{rel_id}}">
                {{#types}}
                <optgroup label="{{name}}">
                  {{#choices}}
                  <option value="{{url}}">{{label}}</option>
                  {{/choices}}
                </optgroup>
                {{/types}}
              </select>
              {{/unknown}}
            </td>
          </tr>
          {{/result.columns}}
        </table>
        <button type="submit">Update Columns</button>
        </form>

        <form action="/datarequests/{{id}}/auto" method="post" data-json="false">
          {{>csrf}}
          <button type="submit">Continue</button>
        </form>
      </div>
    </div>
  </body>
</html>
