<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body{{>login_class}}>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h3>{{webservice_label}}</h3>
      </div>
      <div data-role="content">
        <div class="ui-grid-a responsive-grid">
        <div class="ui-block-a">
        <table class="info">
          <tr><th>Web Service</th><td><a href="/webservices/{{webservice_id}}">{{webservice_label}}</a></td></tr>
          <tr><th>Data Range</th><td>{{start_date}} to {{end_date}}</td></tr>
          {{#inverserelationships}}
          <tr>
            <th>{{type_label}}</th>
            <td>
              {{#is_project}}
              <a href="/{{item_url}}" data-direction="reverse">{{item_label}}</a>
              {{/is_project}}
              {{^is_project}}
              {{item_label}}
              {{/is_project}}
            </td>
          </tr>
          {{/inverserelationships}}
        </table>
        
        {{#is_authenticated}}
        <div class="login-shown">
        {{#completed}}
        {{>download}}
        {{/completed}}
        {{#mine}}
        <form action="/datarequests/{{id}}/auto" method="post" data-json="false">
          {{>csrf}}
          <button type="submit"{{^completed}} data-theme="b"{{/completed}}>
            {{#completed}}Re-{{/completed}}Submit Request to Webservice
          </button>
        </form>
        {{>del}}
        {{/mine}}
        </div>
        {{/is_authenticated}}

        {{#completed}}
        </div>
        <div class="ui-block-b">
          <div class="ui-content">
            <div id="datarequest-{{id}}-map" class="map"></div>
          </div>
        {{/completed}}
        </div>
        </div>

        {{#completed}}
        <hr>
        <svg></svg>
        {{/completed}}

        <hr>
        <div class="ui-grid-a responsive-grid">
        <div class="ui-block-a">
        <div data-role="collapsible">
          <h3>Python Code Example</h3>
          <pre><code class="python">{{as_python}}</code></pre>
        </div>
        </div>
        <div class="ui-block-b">
        <div data-role="collapsible">
          <h3>Request Details</h3>
        <table class="info">
          <tr><th>Requested On</th><td>{{requested_label}}</td></tr>
          <tr><th>Requested By</th><td>{{user_label}}</td></tr>
          {{#completed}}
          <tr><th>Completed On</th><td>{{completed_label}}</td></tr>
          {{#mine}}
          <tr class="login-shown"><th>Public</th><td>{{>toggle}}</td></tr>
          {{/mine}}
          {{/completed}}
        </table>
        </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
