<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        <a href="/" data-icon="home" data-iconpos="notext">Home</a>
        <h3>{{label}}</h3>
      </div>
      <div data-role="content">
        <form action="/datarequests/" method="post" data-ajax="false">
          {{>csrf}}
          <ul>
            <li data-role="fieldcontain">
              <fieldset data-role="controlgroup">
                <legend>Web Service</legend>
                {{#webservice_list}}
                <input type="radio" id="d-webservice-{{id}}" name="webservice"
                       value="{{id}}" required>
                <label for="d-webservice-{{id}}">{{label}}</label>
                {{/webservice_list}}
              </fieldset>
              <p class="error datarequest-webservice-errors"></p>
            </li>
            <li data-role="fieldcontain">
              <label for="d-region">HUC 8</label>
              <input id="d-region" name="region" list="d-regions" required>
              <datalist id="d-regions">
              {{#regions}}
                <option value="{{id}}">{{label}} ({{id}})</option>
              {{/regions}}
              </datalist>
              <p class="error datarequest-region-errors"></p>
            </li>
            <li data-role="fieldcontain">
              <label for='d-date_start'>Start Date</label>
              <input name="date_start" id="d-date_start" required type="date"
                     value="{{date_start}}">
              <p class="error datarequest-date_start-errors"></p>
            </li>
            <li data-role="fieldcontain">
              <label for='d-date_end'>End Date</label>
              <input name="date_end" id="d-date_end" required type="date"
                     value="{{date_end}}">
              <p class="error datarequest-date_end-errors"></p>
            </li>
            <li data-role="fieldcontain">
              <button type="submit">Save</button>
              <p class="error datarequest-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
