<!DOCTYPE html>
<html manifest="climata_viewer.appcache">
  <head>
    <title>Climata Viewer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/images/icon-60.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon-180.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/images/icon-192.png">
    {{>head}}
  </head>
  <body{{>login_class}}>
    <div data-role="page" class="ui-page" data-url="">
      <div role="main">
        <div class="ui-grid-a responsive-grid">
          <div class="ui-block-a">
            <div class="ui-content">
              <p style="text-align:center">
                <img src="/images/logo.png" style="width:80%;max-width:20em;">
              </p>
              {{>intro}}
              <p>
                To see what <b>Climata</b> can do, visit one of the existing
                <a href="/projects/?public=true">Shared Projects</a>
                created by other users, or start your own project
                with the Data Tools below.
              </p>
              <h3>Data Tools</h3>
              <p>
                To request data from a
                <a href="/webservices">supported web service</a>,
                create a new project and then add data to the project.
              </p>
              <ul data-role="listview" data-inset="true" class="login-shown">
                <li data-theme="b"><a href="/projects/new">Create New Project</a></li>
                <li><a href="/projects/?mine=true">My Projects</a></li>
                <li><a href="/projects/?public=true">Shared Projects</a></li>
                <li><a href="/webservices/">Supported Web Services</a></li>
                <li><a href="/logout">Log Out</a></li>
              </ul>
              <ul data-role="listview" data-inset="true" class="logout-shown">
                <li data-theme="b"><a href="/login" data-theme="b">Log In to Create a Project</a></li>
                <li><a href="/projects/?public=true">Shared Projects</a></li>
                <li><a href="/webservices/">Supported Web Services</a></li>
              </ul>
            </div>
          </div>
          <div class="ui-block-b grid-offset">
            {{#latest_project}}
            <div class="ui-content latest-project">
              <h2>
                Latest Shared Project
              </h2>
              <h3>{{label}}</h3>
              <datalist class="layer-list">
                {{#relationships}}
                <option data-item_id="{{item_id}}" data-item_label="{{item_label}}"></option>
                {{/relationships}}
              </datalist>
              <svg style="cursor:pointer;" onclick="$.mobile.changePage('/projects/{{id}}');"></svg>
              <div id="latest-map" class="small map" data-project-id="{{id}}"></div>
              <ul data-role="listview" data-inset="true">
                <li><a href="/projects/{{id}}">View Project: {{label}}</a></li>
              </ul>
            </div>
            {{/latest_project}}
          </div>
          <hr style="clear:both;">
          <div class="ui-block-a">
            <div class="ui-content">
              <h3>Source Code</h3>
              <p>
                <b>Climata</b> is maintained as two software
                packages: a <b>Viewer</b> (this website), and a
                standalone Python software <b>Library</b> to allow
                software developers to integrate the data loading
                capabilities in their own applications.  The source
                code for both the Library and the Viewer is freely
                available on GitHub.
              </p>
              <div class="package">
                <a href="https://github.com/heigeo/climata">Climata Library</a>
                version {{climata_version}}
                {{>gh_start}}climata&type=fork{{>gh_end}}
                {{>gh_start}}climata&type=watch{{>gh_end}}
              </div>
              <div class="package">
                <a href="https://github.com/heigeo/climata-viewer">Climata Viewer</a>
                version {{version}}
                {{>gh_start}}climata-viewer&type=fork{{>gh_end}}
                {{>gh_start}}climata-viewer&type=watch{{>gh_end}}
              </div>
            </div>
          </div>
          <div class="ui-block-b">
            <div class="ui-content">
              {{>outro}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
