<!DOCTYPE html>
<html manifest="climata_viewer.appcache">
  <head>
    <title>Climata Viewer</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>Climata Viewer</h1>
      </div>
      <div data-role="content">
        <ul data-role="listview" data-inset="true">
          <li><a href="/datarequests/new">Request Data</a></li>
          <li><a href="/datarequests/">View Stored Requests</a></li>
        </ul>
        <p>Version {{version}}</p>
      <div>
    </div>
  </body>
</html>
