<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body{{>login_class}}>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h3>{{label}}</h3>
      </div>
      <div role="main">
        <div class="ui-grid-a responsive-grid">
          <div class="ui-block-a">
            <div class="ui-content">
              <h3>{{label}}</h3>
              <ul data-role="listview" data-inset="true" class="layer-list">
                <li data-role="list-divider">Included Data</li>
                {{reset_color}}
                {{#relationships}}
                <li data-item_id="{{item_id}}" data-item_label="{{item_label}}">
                  <a href="/{{item_url}}">
                    <img src="/images/{{get_color}}.png" class="ui-li-icon">
                    <h3>{{item_label}}</h3>
                  </a>
                </li>
                {{/relationships}}

                {{#mine}}
                <li data-icon="plus" class="login-shown" data-theme="b">
                  <a href="/webservices" data-theme="b" onclick="require('climata_viewer/login').setProject('{{id}}');">
                    Add Data
                  </a>
                </li>
                {{/mine}}
              </ul>
            </div>
          </div>
          <div class="ui-block-b">
            <div class="ui-content">
              <div id="project-{{id}}-map" class="map"></div>
            </div>
          </div>
        </div>
        {{#has_data}}
        <hr>
        <svg></svg>
        {{/has_data}}
        <hr>
        <div class="ui-content">
          <table class="info">
            <tr><th>Created On</th><td>{{created_label}}</td></tr>
            <tr><th>Created By</th><td>{{user_label}}</td></tr>
            {{#mine}}
            <tr class="login-shown"><th>Shared Publicly</th><td>{{>toggle}}</td></tr>
            {{/mine}}
          </table>
        </div>
      </div>
    </div>
  </body>
  </html>
