<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body{{>login_class}}>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h3>{{label}}</h3>
      </div>
      <div data-role="content">
        <p>{{description}}</p>
        <table class="info">
          <tr><td colspan=2><h3>Web Service</h3></td></tr>
          <tr>
            <th>Name</th>
            <td>{{label}}</th>
          </tr>
          <tr>
            <th>Homepage</th>
            <td><a href="{{homepage}}">{{homepage}}</a></td>
          </tr>
          <tr>
            <th>Organization</th>
            <td>
              {{#authority}}<a href="{{homepage}}">{{label}}</a>{{/authority}}
            </td>
          </tr>
          <tr><td colspan=2><h3>Data Loader</h3></td></tr>
          <tr>
            <th>Python Class</th>
            <td>
              {{#source_url}}
              <a href="{{source_url}}">{{class_name}}</a>
              {{/source_url}}
              {{^source_url}}
              <b>{{class_name}}</b>
              {{/source_url}}
            </td>
          </tr>
          <tr>
            <th>Supported<br>Filters</th>
            <td>
            {{#opts}}
              {{^start_date.ignored}}&check; Start Date<br>{{/start_date.ignored}}
              {{^end_date.ignored}}&check; End Date<br>{{/end_date.ignored}}
              {{^state.ignored}}&check; State<br>{{/state.ignored}}
              {{^county.ignored}}&check; County<br>{{/county.ignored}}
              {{^basin.ignored}}&check; HUC8<br>{{/basin.ignored}}
              {{^station.ignored}}&check; Site/Station ID<br>{{/station.ignored}}
              {{^parameter.ignored}}&check; Parameter<br>{{/parameter.ignored}}
            {{/opts}}
            </td>
          </tr>
        </table>
        {{#is_authenticated}}
        <ul data-role="listview" data-inset="true" class="login-shown">
          <li data-theme="b">
            <a href="/datarequests/new?webservice_id={{id}}">Request Data from {{label}}</a>
          </li>
          {{#current_project}}
          <li>
            <a href="/projects/{{id}}" data-direction="reverse">Cancel and Return to {{label}}</a>
          </li>
          {{/current_project}}
        </ul>
        {{/is_authenticated}}
      </div>
    </div>
  </body>
</html>
